<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Completion Course Work Manager</title>
   {{ encore_entry_link_tags('app') }}
</head>

<body>

    {% block main %}  
         
    {% endblock %}
         

</body>

</html>
